*{
    margin: 30px;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1240;
    margin: 0 auto;
    height: 100px;
    background-color: wheat;

}
nav button {
    color: wheat;
    background-color: #4E47FF;
    border-radius: 10px;
    font-weight: bolder;
    height: 48px;
    width: 174;
}
div{
    text-align: center;
    height: 205px;
    width: 237;
}
h1{
    color: #4E47FF;
}
.him{
    font-weight: bolder;
    margin: 20px;
    color: #252432;
}
/* banner style */
.color{
    color: #4E47FF;
}
.simay{
    background-color: #4E47FF ;
    color: wheat;
    border-radius: 5px;
    
}
.wc-mini{
    height: 328px;
    width: 403px;
    border-radius: 30px;
}
header{
    max-width: 1140;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    background-color: #4E47FF ;
    color: wheat;
    height: 48px;
    width: 229px;
    border-radius: 15px;
}
.selim{
  color: #252432;
}
.mannan{
  
   height: 49px;
   width: 517px;
   margin: 15px;
   color: black;
}
/* .samim{  */
     
main{
    justify-content: space-between;
    
}


.samim-hasan{
    display: flex;
  
}
.banner-section{
height: 206px;
width: 856px;
margin: 0 auto;
text-align: center;
display: flex;
}
.section{
    height: 697px;
    width: 1140px;
    margin: 0 auto;
}
h2{
    color: #000000;
    font-weight: bolder;
    font-size: 55px;
    height: 60px;
}
.button-color{
    background-color: #4E47FF;
    color: wheat;
     width: 195px;
     height: 48px;
     border-radius: 10px;
}
.img-siz{
    width: 860px;
    height: 373px;
    border-radius: 40px;
}
.section-2{
    width: 1140px;
    height: 705px;
    margin: 150px auto;
}